header {
    background-color: #191970;
    color: #fff;
    width: 1440px;
    height: 74px;
    padding-top: 20px;
}
.header-logo {
    font-size: 24px;
    padding: 10px 0 0 120px;
    float: left;
}

ul {
    padding-right: 120px;
}

li {
    font-size: 18px;
    list-style: none;
    float: right;
    padding-right: 80px;
}

.main-about, .container-service {
    padding: 0 205px;
}

h1, .contact-title{
    text-align: center;
}

input, textarea {
    width: 700px;
}

input {
    height: 30px;
}

textarea {
    height: 171px;
}

.contact-form {
    padding-left: 370px;
}

.send-bottom {
    background-color: #191970;
    color: #fff;
    font-size: 20px;
    border-radius: 30px;
    width: 235px;
    height: 59px;
    font-weight: bold;
    margin-left: 232.5px;
}

.container-service {
    display: flex;
    justify-content: space-between;
}

.container2 {
    padding-left: 70px;
}

.container4 {
    padding-right: 70px;
}

.main-news {
    width: 1030px;
    padding: 0 205px;
    display: flex;
    justify-content: space-between;
}

.container-news {
    flex-direction: row;
    width: 320px;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    box-shadow: 2px 2px 4px;
}

.news-item {
    padding: 10px 20px;
}

footer {
    text-align: center;
    background-color: #191970;
    color: #fff;
    height: 79px;
    padding-top: 50px;
}

a {
    color: #fff;
    text-decoration: none;
}